<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="usuario/template_user.html :: head">
        <title>Inicio</title>
    </head>

    <body>
        <header th:include="usuario/template_user.html :: header"></header>
        <!-- Page Content -->
        <div class="container">
            <!-- Page Heading/Breadcrumbs -->
            <h1 class="mt-4 mb-3">
                Zean eCommerce <small>Resumen de la orden</small>
            </h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                <li class="breadcrumb-item active">Orden</li>
            </ol>
            <!-- Blog Post -->
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="card-body">
                                <h5 class="card-title">
                                    DATOS ORDEN
                                </h5>
                                <h6 th:text="'Nombre: '+${usuario.name}"> </h6>
                                <h6 th:text="'Correo: '+${usuario.email}"> </h6>
                                <h6 th:text="'Dirección: '+${usuario.address}"></h6>
                                <h6 th:text="'Teléfono: '+${usuario.phone}"></h6>
                                </br>
                                <h5 class="card-title">
                                    PRODUCTOS
                                </h5>
                                <div class="alert alert-light" role="alert">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Producto</th>
                                                <th scope="col">Precio</th>
                                                <th scope="col">Cantidad</th>
                                                <th scope="col">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="detalles:${detallesOrden}">
                                                <td th:text="${detalles.name}"></td>
                                                <td th:text="${detalles.prize}"></td>
                                                <td th:text="${detalles.amount}"></td>
                                                <td th:text="${detalles.total}"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-3">
                            <h2 class="card-title">Resumen Orden</h2>
                            <ul class="list-group">
                                <li class="list-group-item"><h5 th:text="'Total: '+${orden.amount}"> </h5></li>
                                <a th:href="@{/saveorder}" class="btn btn-dark">Generar</a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
        <footer th:replace="usuario/template_user.html :: footer"></footer>
    </body>
</html>
