<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="administrador/template_admin.html :: head">
        <title>Inicio</title>
    </head>

    <body>
        <header th:include="administrador/template_admin.html :: header"></header>

        <!-- Page Content -->
        <div class="container">
            <!-- Page Heading/Breadcrumbs -->
            <h1 class="mt-4 mb-3">
                Spring eCommerce <small>Productos</small>
            </h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/administrador}">Home</a></li>
                <li class="breadcrumb-item active">Ver Productos</li>
            </ol>
            <a class="btn btn-primary" th:href="@{/productos/create}" > Crear Producto</a>
            <h2>Productos</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Inventario</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Acción</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="p:${productosTotal}">
                        <td th:text="${p.name}"> </td>
                        <td th:text="${p.description}"> </td>
                        <td th:text="${p.amount}"> </td>
                        <td th:text="${p.price}"> </td>
                        <td> <a  class="btn btn-warning" th:href="@{/productos/edit/{id} (id=${p.id})}">Editar</a> </td>
                        <td> <a  class="btn btn-danger" th:href="@{/productos/delete/{id} (id=${p.id})}">Eliminar</a> </td>
                    </tr>       
                </tbody>
            </table>
        </div>
        <footer th:replace="administrador/template_admin.html :: footer"></footer>
    </body>
</html>
